__pycache__/
db.sqlite3
*.env

docker/dockerfiles/production-web-dockerfile/conf/ssl/server-certificates/*
docker/dockerfiles/production-web-dockerfile/conf/imagesizator.conf

public/temp/*
public/static/*

## Never ignore
!.gitkeep