asgiref==3.5.2
backoff==1.11.1
backports.zoneinfo==0.2.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
datadog==0.44.0
Deprecated==1.2.13
dj-database-url==0.5.0
Django==4.0.4
djangorestframework==3.13.1
googleapis-common-protos==1.56.2
grpcio==1.46.3
gunicorn==20.1.0
idna==3.3
numpy==1.22.3
opencv-contrib-python-headless==4.5.5.64
opentelemetry-api==1.12.0rc1
opentelemetry-distro==0.31b0
opentelemetry-exporter-otlp==1.11.1
opentelemetry-exporter-otlp-proto-grpc==1.11.1
opentelemetry-exporter-otlp-proto-http==1.11.1
opentelemetry-instrumentation==0.31b0
opentelemetry-proto==1.11.1
opentelemetry-sdk==1.12.0rc1
opentelemetry-semantic-conventions==0.31b0
Pillow==9.1.1
protobuf==3.20.1
psycopg2-binary==2.9.3
python-decouple==3.6
pytz==2022.1
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
typing_extensions==4.2.0
urllib3==1.26.9
whitenoise==6.1.0
wrapt==1.14.1
