DEBUG=0
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# # Managing static files in production
# BASE_DIR = Path(__file__).resolve(strict=True).parent

# MEDIA_ROOT = os.path.join(BASE_DIR, "media")
# STATIC_ROOT = os.path.join(BASE_DIR, "site_static")
# # STATICFILES_DIRS = (os.path.join(BASE_DIR, "static"),)

# MEDIA_URL = "/media/"

# STATIC_URL = "/static/"